# Covid-19 DB MS SQL Server Connection with pyodbc & sqlalchemy

In [1]:
import pandas as pd
import numpy as np
import pyodbc
from sqlalchemy import create_engine, text
import warnings
warnings.filterwarnings("ignore")

In [2]:
#  Creating the data df for SQL Server

df_covid = pd.read_csv(r"C:\Users\serda\Desktop\SD RECOVERY\DATA SCIENCE\DATASETS\COVID-19 Activity.csv", low_memory=False)

df_covid.head()

,PEOPLE_POSITIVE_CASES_COUNT,COUNTY_NAME,PROVINCE_STATE_NAME,REPORT_DATE,CONTINENT_NAME,DATA_SOURCE_NAME,PEOPLE_DEATH_NEW_COUNT,COUNTY_FIPS_NUMBER,COUNTRY_ALPHA_3_CODE,COUNTRY_SHORT_NAME,COUNTRY_ALPHA_2_CODE,PEOPLE_POSITIVE_NEW_CASES_COUNT,PEOPLE_DEATH_COUNT
0,0,Lee,Alabama,2020-01-22,America,New York Times,0,1081.0,USA,United States,US,0,0
1,0,Lee,Alabama,2020-01-23,America,New York Times,0,1081.0,USA,United States,US,0,0
2,0,Lee,Alabama,2020-01-24,America,New York Times,0,1081.0,USA,United States,US,0,0
3,0,Lee,Alabama,2020-01-25,America,New York Times,0,1081.0,USA,United States,US,0,0
4,0,Lee,Alabama,2020-01-26,America,New York Times,0,1081.0,USA,United States,US,0,0

In [3]:
# Converting the column names lowercase

df_covid.rename(columns=lambda x: x.lower(), inplace=True)

df_covid.head()

,people_positive_cases_count,county_name,province_state_name,report_date,continent_name,data_source_name,people_death_new_count,county_fips_number,country_alpha_3_code,country_short_name,country_alpha_2_code,people_positive_new_cases_count,people_death_count
0,0,Lee,Alabama,2020-01-22,America,New York Times,0,1081.0,USA,United States,US,0,0
1,0,Lee,Alabama,2020-01-23,America,New York Times,0,1081.0,USA,United States,US,0,0
2,0,Lee,Alabama,2020-01-24,America,New York Times,0,1081.0,USA,United States,US,0,0
3,0,Lee,Alabama,2020-01-25,America,New York Times,0,1081.0,USA,United States,US,0,0
4,0,Lee,Alabama,2020-01-26,America,New York Times,0,1081.0,USA,United States,US,0,0

In [4]:
# Listing SQL drivers

pyodbc.drivers()

['SQL Server',
 'Microsoft Access Driver (*.mdb, *.accdb)',
 'Microsoft Excel Driver (*.xls, *.xlsx, *.xlsm, *.xlsb)',
 'Microsoft Access dBASE Driver (*.dbf, *.ndx, *.mdx)',
 'Microsoft Access Text Driver (*.txt, *.csv)',
 'MySQL ODBC 8.0 ANSI Driver',
 'MySQL ODBC 8.0 Unicode Driver',
 'SQL Server Native Client 11.0',
 'SQL Server Native Client RDA 11.0',
 'ODBC Driver 17 for SQL Server']

In [6]:
#  Creating engine for MS SQL Server for pyodbc and sqlalchemy

server = 'localhost'
dbname = 'master'
driver = 'ODBC+Driver+17+for+SQL+Server'

engine_pyodbc = pyodbc.connect('driver={'+driver.replace("+", " ")+'};'+'server='+server+';database='+dbname+';trusted_connection=yes')
engine_alchemy = create_engine(f'mssql+pyodbc://{server}/{dbname}?trusted_connection=yes&driver={driver}')

In [7]:
engine_pyodbc.autocommit = True

In [8]:
# Creating user defined query function

def excecute_query(engine, query:str, print_rows=False):
    """
    This function send the query to SQL Server

    engine:
        engine
    query: str
        query string
    print_rows: Boolean
        print query results, default False
    """
    if type(engine) == pyodbc.Connection:
        crs = engine.cursor()
        if print_rows:
            for row in crs.execute(query).fetchall():
                print(row)
        else:
            crs.execute(query)
            print(f'pyodbc query executed successfully.')
        crs.close()

    elif str(type(engine)).__contains__('sqlalchemy'):
        with engine.connect() as conn:
            if print_rows:
                for row in conn.execute(text(query)).fetchall():
                    print(row)
            else:
                conn.execute(text(query))
                print(f'sqlalchemy query executed successfully.')
            conn.commit()
    else:
        print('Please define a valid conneciton.')

In [9]:
excecute_query(engine_pyodbc, """CREATE DATABASE Covid19;""")

pyodbc query executed successfully.

In [10]:
excecute_query(engine_alchemy, """USE Covid19;""")

sqlalchemy query executed successfully.

In [11]:
excecute_query(engine_alchemy, 'CREATE SCHEMA covid;')

sqlalchemy query executed successfully.

In [12]:
# inserting df to sql server (to_sql method cannot be used in pyodbc)

df_covid.to_sql('covid', engine_alchemy, 'covid', index=False, if_exists='append')

53

In [13]:
excecute_query(engine_alchemy,
               """SELECT country_short_name,
               SUM(people_positive_new_cases_count) positive_cases
               FROM covid.covid
               GROUP BY country_short_name
               ORDER BY positive_cases DESC;""",
               print_rows=True)

('United States', 81237970)
('India', 43075864)
('Brazil', 30433042)
('France', 27829894)
('Germany', 24798067)
('United Kingdom', 22038340)
('Russia', 17909924)
('Korea, South', 17237878)
('Italy', 16409183)
('Turkey', 15030321)
('Spain', 11833457)
('Vietnam', 10644700)
('Argentina', 9072230)
('Netherlands', 8131213)
('Japan', 7846274)
('Iran', 7221121)
('Colombia', 6092403)
('Indonesia', 6046467)
('Poland', 5995674)
('Australia', 5927528)
('Mexico', 5738769)
('Ukraine', 5040518)
('Malaysia', 4445897)
('Thailand', 4250949)
('Austria', 4135344)
('Israel', 4074112)
('Belgium', 4056448)
('Czechia', 3905101)
('Portugal', 3853800)
('South Africa', 3785398)
('Canada', 3762254)
('Philippines', 3685403)
('Switzerland', 3619598)
('Peru', 3564558)
('Chile', 3556333)
('Greece', 3317425)
('Denmark', 3115721)
('Romania', 2892989)
('Slovakia', 2528216)
('Sweden', 2500917)
('Iraq', 2324982)
('China', 2154960)
('Serbia', 2005832)
('Bangladesh', 1952674)
('Hungary', 1901017)
('Jordan', 1695745)
('Georgia', 1654945)
('Pakistan', 1527956)
('Ireland', 1517112)
('Norway', 1425809)
('Kazakhstan', 1394473)
('Singapore', 1193250)
('Morocco', 1164907)
('Bulgaria', 1156466)
('Croatia', 1121662)
('Cuba', 1102750)
('Lebanon', 1096854)
('Lithuania', 1057675)
('Tunisia', 1040193)
('Finland', 1023013)
('Slovenia', 1009085)
('Belarus', 979909)
('Nepal', 978806)
('New Zealand', 930969)
('Mongolia', 920671)
('Bolivia', 904883)
('United Arab Emirates', 898310)
('Uruguay', 897867)
('Ecuador', 869124)
('Costa Rica', 852074)
('Guatemala', 845868)
('Latvia', 822013)
('Azerbaijan', 792558)
('Panama', 775488)
('Saudi Arabia', 753921)
('Sri Lanka', 663329)
('West Bank and Gaza', 657060)
('Paraguay', 649455)
('Kuwait', 631409)
('Burma', 612864)
('Dominican Republic', 579248)
('Estonia', 571917)
('Bahrain', 568367)
('Venezuela', 522305)
('Moldova', 516986)
('Egypt', 515645)
('Libya', 501904)
('Cyprus', 480220)
('Ethiopia', 470550)
('Honduras', 426179)
('Armenia', 422865)
('Oman', 389126)
('Reunion', 387184)
('Bosnia and Herzegovina', 377087)
('Qatar', 364560)
('Kenya', 323760)
('Zambia', 319594)
('North Macedonia', 309571)
('Botswana', 305984)
('Albania', 275055)
('Algeria', 265779)
('Nigeria', 255716)
('Zimbabwe', 247842)
('Uzbekistan', 238577)
('Luxembourg', 237856)
('Montenegro', 235151)
('Kosovo', 228052)
('Mozambique', 225383)
('Mauritius', 220344)
('Laos', 207196)
('Kyrgyzstan', 200992)
('Iceland', 185579)
('Maldives', 179171)
('Afghanistan', 178873)
('Uganda', 164084)
('El Salvador', 162089)
('Ghana', 161173)
('Namibia', 158649)
('Martinique', 151972)
('Guadeloupe', 147607)
('Trinidad and Tobago', 147450)
('Brunei', 141748)
('Cambodia', 136246)
('Jamaica', 129978)
('Rwanda', 129799)
('Cameroon', 119780)
('Taiwan*', 100753)
('Angola', 99287)
('Malta', 91605)
('Congo (Kinshasa)', 87023)
('Senegal', 85995)
('Malawi', 85781)
("Cote d'Ivoire", 81930)
('French Guiana', 80859)
('Suriname', 79336)
('French Polynesia', 72720)
('Eswatini', 70626)
('Barbados', 69562)
('Fiji', 64634)
('Madagascar', 64152)
('Guyana', 63457)
('Sudan', 62117)
('New Caledonia', 60653)
('Bhutan', 59054)
('Mauritania', 58687)
('Belize', 57497)
('Cabo Verde', 56020)
('Syria', 55813)
('Jersey', 49778)
('Gabon', 47602)
('Papua New Guinea', 43817)
('Seychelles', 42502)
('Curacao', 42241)
('Andorra', 41349)
('Burundi', 39998)
('Mayotte', 37363)
('Togo', 36985)
('Guinea', 36549)
('Aruba', 34846)
('Faroe Islands', 34658)
('Tanzania', 33872)
('Bahamas', 33541)
('Lesotho', 33015)
('Isle of Man', 32205)
('Mali', 30815)
('Haiti', 30690)
('Benin', 26952)
('Somalia', 26485)
('Guernsey', 24573)
('Congo (Brazzaville)', 24079)
('Saint Lucia', 23394)
('Timor-Leste', 22865)
('Cayman Islands', 22223)
('Burkina Faso', 20865)
('Nicaragua', 18491)
('Gibraltar', 17837)
('Tajikistan', 17786)
('South Sudan', 17461)
('Liechtenstein', 17171)
('San Marino', 16437)
('Equatorial Guinea', 15907)
('Djibouti', 15611)
('Solomon Islands', 14786)
('Central African Republic', 14649)
('Grenada', 14629)
('Bermuda', 13488)
('Dominica', 12033)
('Gambia', 11995)
('Greenland', 11971)
('Yemen', 11818)
('Monaco', 11762)
('St Martin', 10462)
('Tonga', 10196)
('Sint Maarten', 10036)
('Bonaire, Sint Eustatius and Saba', 9745)
('Eritrea', 9734)
('Samoa', 9592)
('Niger', 8928)
('Saint Vincent and the Grenadines', 8419)
('Guinea-Bissau', 8202)
('Comoros', 8105)
('Sierra Leone', 7681)
('Antigua and Barbuda', 7626)
('Liberia', 7434)
('Chad', 7411)
('Vanuatu', 7330)
('British Virgin Islands', 6355)
('Turks and Caicos Islands', 5963)
('Sao Tome and Principe', 5957)
('Saint Kitts and Nevis', 5562)
('Cook Islands', 5031)
('Palau', 4610)
('Saint Barthelemy', 4544)
('Kiribati', 3081)
('Anguilla', 2788)
('Saint Pierre and Miquelon', 2701)
('Summer Olympics 2020', 865)
('Winter Olympics 2022', 535)
('Wallis and Futuna', 454)
('Montserrat', 216)
('Falkland Islands (Malvinas)', 177)
('Holy See', 29)
('Marshall Islands', 17)
('Antarctica', 11)
('Micronesia', 5)
('Saint Helena, Ascension and Tristan da Cunha', 4)
('Channel Islands', 0)

In [15]:
excecute_query(engine_alchemy,"SELECT * FROM covid.covid WHERE report_date BETWEEN '2022-01-01' AND '2022-04-30'",
               print_rows=True)

IOPub data rate exceeded.
The Jupyter server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--ServerApp.iopub_data_rate_limit`.

Current values:
ServerApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
ServerApp.rate_limit_window=3.0 (secs)

(7101, None, None, '2022-01-05', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 314, 200)
(14165, None, None, '2022-04-17', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 0, 219)
(14629, None, None, '2022-04-29', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 0, 220)
(14428, None, None, '2022-04-23', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 96, 220)
(13690, None, None, '2022-03-10', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 0, 216)
(13936, None, None, '2022-03-18', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 15, 217)
(13690, None, None, '2022-03-15', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 0, 216)
(14428, None, None, '2022-04-25', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 0, 220)
(13982, None, None, '2022-03-29', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 0, 218)
(13413, None, None, '2022-02-16', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 40, 214)
(12834, None, None, '2022-02-05', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 60, 211)
(14332, None, None, '2022-04-22', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 0, 220)
(14064, None, None, '2022-04-12', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 0, 219)
(6306, None, None, '2022-01-02', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 7, 200)
(6299, None, None, '2022-01-01', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 118, 200)
(12862, None, None, '2022-02-06', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 28, 211)
(12498, None, None, '2022-02-01', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 162, 210)
(7377, None, None, '2022-01-07', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 0, 200)
(14519, None, None, '2022-04-26', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 91, 220)
(14332, None, None, '2022-04-21', 'America', 'JHU CSSE Global Timeseries', 1, None, 'GRD', 'Grenada', 'GD', 45, 220)
(14165, None, None, '2022-04-16', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 0, 219)
(13690, None, None, '2022-03-05', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 0, 216)
(12698, None, None, '2022-02-03', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 109, 211)
(14012, None, None, '2022-03-31', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 14, 218)
(13967, None, None, '2022-03-24', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 13, 218)
(7377, None, None, '2022-01-06', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 276, 200)
(14092, None, None, '2022-04-13', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 28, 219)
(13696, None, None, '2022-02-26', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 35, 214)
(13373, None, None, '2022-02-15', 'America', 'JHU CSSE Global Timeseries', 1, None, 'GRD', 'Grenada', 'GD', 107, 214)
(14428, None, None, '2022-04-24', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 0, 220)
(14165, None, None, '2022-04-19', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 0, 219)
(14024, None, None, '2022-04-04', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 0, 218)
(13982, None, None, '2022-03-27', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 0, 218)
(13936, None, None, '2022-03-21', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 0, 217)
(13255, None, None, '2022-02-13', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 13, 213)
(11816, None, None, '2022-01-26', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 0, 207)
(9701, None, None, '2022-01-16', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 166, 203)
(7669, None, None, '2022-01-08', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 292, 200)
(13690, None, None, '2022-03-09', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 0, 216)
(13690, None, None, '2022-03-03', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 0, 216)
(13565, None, None, '2022-02-23', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 0, 214)
(14024, None, None, '2022-04-05', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 0, 218)
(13936, None, None, '2022-03-20', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 0, 217)
(13242, None, None, '2022-02-12', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 70, 213)
(7699, None, None, '2022-01-10', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 0, 200)
(13690, None, None, '2022-03-08', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 0, 216)
(13936, None, None, '2022-03-19', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 0, 217)
(14165, None, None, '2022-04-18', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 0, 219)
(6787, None, None, '2022-01-04', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 449, 200)
(9718, None, None, '2022-01-17', 'America', 'JHU CSSE Global Timeseries', 1, None, 'GRD', 'Grenada', 'GD', 17, 204)
(8966, None, None, '2022-01-13', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 365, 201)
(13690, None, None, '2022-03-12', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 0, 216)
(14024, None, None, '2022-04-09', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 0, 218)
(13982, None, None, '2022-03-28', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 0, 218)
(12311, None, None, '2022-01-29', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 65, 210)
(11816, None, None, '2022-01-25', 'America', 'JHU CSSE Global Timeseries', 2, None, 'GRD', 'Grenada', 'GD', 472, 207)
(9259, None, None, '2022-01-14', 'America', 'JHU CSSE Global Timeseries', 1, None, 'GRD', 'Grenada', 'GD', 293, 202)
(13598, None, None, '2022-02-24', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 33, 214)
(13266, None, None, '2022-02-14', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 11, 213)
(11190, None, None, '2022-01-22', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 230, 205)
(13690, None, None, '2022-03-04', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 0, 216)
(12090, None, None, '2022-01-27', 'America', 'JHU CSSE Global Timeseries', 3, None, 'GRD', 'Grenada', 'GD', 274, 210)
(10427, None, None, '2022-01-19', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 0, 204)
(12589, None, None, '2022-02-02', 'America', 'JHU CSSE Global Timeseries', 1, None, 'GRD', 'Grenada', 'GD', 91, 211)
(14024, None, None, '2022-04-03', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 12, 218)
(13679, None, None, '2022-02-27', 'America', 'JHU CSSE Global Timeseries', 2, None, 'GRD', 'Grenada', 'GD', -17, 216)
(13967, None, None, '2022-03-25', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 0, 218)
(13954, None, None, '2022-03-23', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 0, 218)
(12774, None, None, '2022-02-04', 'America', 'JHU CSSE Global Timeseries', 0, None, 'GRD', 'Grenada', 'GD', 76, 211)
(8601, None, None, '2022-01-11', 'America', 'JHU CSSE Global Timeseries', 1, None, 'GRD', 'Grenada', 'GD', 902, 201)
(174073, None, None, '2022-03-02', 'Asia', 'JHU CSSE Global Timeseries', 8, None, 'AFG', 'Afghanistan', 'AF', 194, 7617)
(177321, None, None, '2022-03-26', 'Asia', 'JHU CSSE Global Timeseries', 0, None, 'AFG', 'Afghanistan', 'AF', 0, 7657)
(168550, None, None, '2022-02-09', 'Asia', 'JHU CSSE Global Timeseries', 11, None, 'AFG', 'Afghanistan', 'AF', 811, 7465)
(159649, None, None, '2022-01-23', 'Asia', 'JHU CSSE Global Timeseries', 3, None, 'AFG', 'Afghanistan', 'AF', 101, 7393)
(158511, None, None, '2022-01-12', 'Asia', 'JHU CSSE Global Timeseries', 2, None, 'AFG', 'Afghanistan', 'AF', 40, 7376)
(159303, None, None, '2022-01-20', 'Asia', 'JHU CSSE Global Timeseries', 0, None, 'AFG', 'Afghanistan', 'AF', 233, 7386)
(178574, None, None, '2022-04-20', 'Asia', 'JHU CSSE Global Timeseries', 0, None, 'AFG', 'Afghanistan', 'AF', 61, 7680)
(175974, None, None, '2022-03-11', 'Asia', 'JHU CSSE Global Timeseries', 1, None, 'AFG', 'Afghanistan', 'AF', 81, 7640)
(176918, None, None, '2022-03-17', 'Asia', 'JHU CSSE Global Timeseries', 0, None, 'AFG', 'Afghanistan', 'AF', 175, 7651)
(162111, None, None, '2022-01-30', 'Asia', 'JHU CSSE Global Timeseries', 3, None, 'AFG', 'Afghanistan', 'AF', 821, 7408)
(178352, None, None, '2022-04-14', 'Asia', 'JHU CSSE Global Timeseries', 0, None, 'AFG', 'Afghanistan', 'AF', 57, 7676)
(177974, None, None, '2022-04-07', 'Asia', 'JHU CSSE Global Timeseries', 0, None, 'AFG', 'Afghanistan', 'AF', 0, 7671)
(173084, None, None, '2022-02-25', 'Asia', 'JHU CSSE Global Timeseries', 1, None, 'AFG', 'Afghanistan', 'AF', 37, 7579)
(172441, None, None, '2022-02-21', 'Asia', 'JHU CSSE Global Timeseries', 10, None, 'AFG', 'Afghanistan', 'AF', 236, 7549)
(176409, None, None, '2022-03-14', 'Asia', 'JHU CSSE Global Timeseries', 2, None, 'AFG', 'Afghanistan', 'AF', 208, 7645)
(171673, None, None, '2022-02-17', 'Asia', 'JHU CSSE Global Timeseries', 11, None, 'AFG', 'Afghanistan', 'AF', 154, 7524)
(166924, None, None, '2022-02-07', 'Asia', 'JHU CSSE Global Timeseries', 10, None, 'AFG', 'Afghanistan', 'AF', 733, 7442)
(158183, None, None, '2022-01-03', 'Asia', 'JHU CSSE Global Timeseries', 3, None, 'AFG', 'Afghanistan', 'AF', -6, 7364)
(172205, None, None, '2022-02-20', 'Asia', 'JHU CSSE Global Timeseries', 5, None, 'AFG', 'Afghanistan', 'AF', 274, 7539)
(169448, None, None, '2022-02-10', 'Asia', 'JHU CSSE Global Timeseries', 12, None, 'AFG', 'Afghanistan', 'AF', 898, 7477)
(167739, None, None, '2022-02-08', 'Asia', 'JHU CSSE Global Timeseries', 12, None, 'AFG', 'Afghanistan', 'AF', 815, 7454)
(161057, None, None, '2022-01-28', 'Asia', 'JHU CSSE Global Timeseries', 0, None, 'AFG', 'Afghanistan', 'AF', 53, 7403)
(158974, None, None, '2022-01-18', 'Asia', 'JHU CSSE Global Timeseries', 2, None, 'AFG', 'Afghanistan', 'AF', 148, 7383)
(178809, None, None, '2022-04-27', 'Asia', 'JHU CSSE Global Timeseries', 0, None, 'AFG', 'Afghanistan', 'AF', 40, 7683)
(177803, None, None, '2022-04-02', 'Asia', 'JHU CSSE Global Timeseries', 1, None, 'AFG', 'Afghanistan', 'AF', 21, 7671)
(177782, None, None, '2022-04-01', 'Asia', 'JHU CSSE Global Timeseries', 0, None, 'AFG', 'Afghanistan', 'AF', 35, 7670)
(177716, None, None, '2022-03-30', 'Asia', 'JHU CSSE Global Timeseries', 2, None, 'AFG', 'Afghanistan', 'AF', 58, 7667)
(158678, None, None, '2022-01-15', 'Asia', 'JHU CSSE Global Timeseries', 2, None, 'AFG', 'Afghanistan', 'AF', 39, 7378)
(178141, None, None, '2022-04-11', 'Asia', 'JHU CSSE Global Timeseries', 4, None, 'AFG', 'Afghanistan', 'AF', 167, 7675)
(174582, None, None, '2022-03-06', 'Asia', 'JHU CSSE Global Timeseries', 1, None, 'AFG', 'Afghanistan', 'AF', 251, 7623)
(171857, None, None, '2022-02-18', 'Asia', 'JHU CSSE Global Timeseries', 2, None, 'AFG', 'Afghanistan', 'AF', 184, 7526)
(169940, None, None, '2022-02-11', 'Asia', 'JHU CSSE Global Timeseries', 1, None, 'AFG', 'Afghanistan', 'AF', 492, 7478)
(158381, None, None, '2022-01-09', 'Asia', 'JHU CSSE Global Timeseries', 4, None, 'AFG', 'Afghanistan', 'AF', 72, 7373)
(176201, None, None, '2022-03-13', 'Asia', 'JHU CSSE Global Timeseries', 2, None, 'AFG', 'Afghanistan', 'AF', 162, 7643)
(173879, None, None, '2022-03-01', 'Asia', 'JHU CSSE Global Timeseries', 11, None, 'AFG', 'Afghanistan', 'AF', 220, 7609)
(176743, None, None, '2022-03-16', 'Asia', 'JHU CSSE Global Timeseries', 5, None, 'AFG', 'Afghanistan', 'AF', 172, 7651)
(178850, None, None, '2022-04-28', 'Asia', 'JHU CSSE Global Timeseries', 0, None, 'AFG', 'Afghanistan', 'AF', 41, 7683)
(178373, None, None, '2022-04-15', 'Asia', 'JHU CSSE Global Timeseries', 0, None, 'AFG', 'Afghanistan', 'AF', 21, 7676)
(175000, None, None, '2022-03-07', 'Asia', 'JHU CSSE Global Timeseries', 3, None, 'AFG', 'Afghanistan', 'AF', 418, 7626)
(177974, None, None, '2022-04-06', 'Asia', 'JHU CSSE Global Timeseries', 0, None, 'AFG', 'Afghanistan', 'AF', 42, 7671)
(177255, None, None, '2022-03-22', 'Asia', 'JHU CSSE Global Timeseries', 2, None, 'AFG', 'Afghanistan', 'AF', 64, 7656)
(172716, None, None, '2022-02-22', 'Asia', 'JHU CSSE Global Timeseries', 20, None, 'AFG', 'Afghanistan', 'AF', 275, 7569)
(159896, None, None, '2022-01-24', 'Asia', 'JHU CSSE Global Timeseries', 0, None, 'AFG', 'Afghanistan', 'AF', 247, 7393)
(177974, None, None, '2022-04-10', 'Asia', 'JHU CSSE Global Timeseries', 0, None, 'AFG', 'Afghanistan', 'AF', 0, 7671)
(171931, None, None, '2022-02-19', 'Asia', 'JHU CSSE Global Timeseries', 8, None, 'AFG', 'Afghanistan', 'AF', 74, 7534)
(159516, None, None, '2022-01-21', 'Asia', 'JHU CSSE Global Timeseries', 4, None, 'AFG', 'Afghanistan', 'AF', 213, 7390)
(177974, None, None, '2022-04-08', 'Asia', 'JHU CSSE Global Timeseries', 0, None, 'AFG', 'Afghanistan', 'AF', 0, 7671)
(173659, None, None, '2022-02-28', 'Asia', 'JHU CSSE Global Timeseries', 5, None, 'AFG', 'Afghanistan', 'AF', 264, 7598)
(162926, None, None, '2022-01-31', 'Asia', 'JHU CSSE Global Timeseries', 6, None, 'AFG', 'Afghanistan', 'AF', 815, 7414)
(158245, None, None, '2022-01-05', 'Asia', 'JHU CSSE Global Timeseries', 2, None, 'AFG', 'Afghanistan', 'AF', 40, 7367)
(178418, None, None, '2022-04-17', 'Asia', 'JHU CSSE Global Timeseries', 2, None, 'AFG', 'Afghanistan', 'AF', 31, 7678)
(178873, None, None, '2022-04-29', 'Asia', 'JHU CSSE Global Timeseries', 0, None, 'AFG', 'Afghanistan', 'AF', 23, 7683)
(178648, None, None, '2022-04-23', 'Asia', 'JHU CSSE Global Timeseries', 1, None, 'AFG', 'Afghanistan', 'AF', 10, 7681)
(175893, None, None, '2022-03-10', 'Asia', 'JHU CSSE Global Timeseries', 3, None, 'AFG', 'Afghanistan', 'AF', 368, 7639)
(176983, None, None, '2022-03-18', 'Asia', 'JHU CSSE Global Timeseries', 0, None, 'AFG', 'Afghanistan', 'AF', 65, 7651)
(176571, None, None, '2022-03-15', 'Asia', 'JHU CSSE Global Timeseries', 1, None, 'AFG', 'Afghanistan', 'AF', 162, 7646)
(178745, None, None, '2022-04-25', 'Asia', 'JHU CSSE Global Timeseries', 1, None, 'AFG', 'Afghanistan', 'AF', 56, 7683)
(177658, None, None, '2022-03-29', 'Asia', 'JHU CSSE Global Timeseries', 2, None, 'AFG', 'Afghanistan', 'AF', 56, 7665)
(171519, None, None, '2022-02-16', 'Asia', 'JHU CSSE Global Timeseries', 9, None, 'AFG', 'Afghanistan', 'AF', 97, 7513)
(165711, None, None, '2022-02-05', 'Asia', 'JHU CSSE Global Timeseries', 5, None, 'AFG', 'Afghanistan', 'AF', 353, 7425)
(178638, None, None, '2022-04-22', 'Asia', 'JHU CSSE Global Timeseries', 0, None, 'AFG', 'Afghanistan', 'AF', 27, 7680)
(178257, None, None, '2022-04-12', 'Asia', 'JHU CSSE Global Timeseries', 1, None, 'AFG', 'Afghanistan', 'AF', 116, 7676)
(158189, None, None, '2022-01-02', 'Asia', 'JHU CSSE Global Timeseries', 5, None, 'AFG', 'Afghanistan', 'AF', 82, 7361)
(158107, None, None, '2022-01-01', 'Asia', 'JHU CSSE Global Timeseries', 0, None, 'AFG', 'Afghanistan', 'AF', 23, 7356)
(166191, None, None, '2022-02-06', 'Asia', 'JHU CSSE Global Timeseries', 7, None, 'AFG', 'Afghanistan', 'AF', 480, 7432)
(163555, None, None, '2022-02-01', 'Asia', 'JHU CSSE Global Timeseries', 3, None, 'AFG', 'Afghanistan', 'AF', 629, 7417)
(158300, None, None, '2022-01-07', 'Asia', 'JHU CSSE Global Timeseries', 1, None, 'AFG', 'Afghanistan', 'AF', 25, 7368)
(178769, None, None, '2022-04-26', 'Asia', 'JHU CSSE Global Timeseries', 0, None, 'AFG', 'Afghanistan', 'AF', 24, 7683)
(178611, None, None, '2022-04-21', 'Asia', 'JHU CSSE Global Timeseries', 0, None, 'AFG', 'Afghanistan', 'AF', 37, 7680)
(178387, None, None, '2022-04-16', 'Asia', 'JHU CSSE Global Timeseries', 0, None, 'AFG', 'Afghanistan', 'AF', 14, 7676)
(174331, None, None, '2022-03-05', 'Asia', 'JHU CSSE Global Timeseries', 3, None, 'AFG', 'Afghanistan', 'AF', 117, 7622)
(164727, None, None, '2022-02-03', 'Asia', 'JHU CSSE Global Timeseries', 2, None, 'AFG', 'Afghanistan', 'AF', 537, 7420)
(177747, None, None, '2022-03-31', 'Asia', 'JHU CSSE Global Timeseries', 3, None, 'AFG', 'Afghanistan', 'AF', 31, 7670)
(177321, None, None, '2022-03-24', 'Asia', 'JHU CSSE Global Timeseries', 0, None, 'AFG', 'Afghanistan', 'AF', 0, 7657)
(158275, None, None, '2022-01-06', 'Asia', 'JHU CSSE Global Timeseries', 0, None, 'AFG', 'Afghanistan', 'AF', 30, 7367)
(178295, None, None, '2022-04-13', 'Asia', 'JHU CSSE Global Timeseries', 0, None, 'AFG', 'Afghanistan', 'AF', 38, 7676)
(173146, None, None, '2022-02-26', 'Asia', 'JHU CSSE Global Timeseries', 6, None, 'AFG', 'Afghanistan', 'AF', 62, 7585)
(171422, None, None, '2022-02-15', 'Asia', 'JHU CSSE Global Timeseries', 3, None, 'AFG', 'Afghanistan', 'AF', 176, 7504)
(178689, None, None, '2022-04-24', 'Asia', 'JHU CSSE Global Timeseries', 1, None, 'AFG', 'Afghanistan', 'AF', 41, 7682)
(178513, None, None, '2022-04-19', 'Asia', 'JHU CSSE Global Timeseries', 1, None, 'AFG', 'Afghanistan', 'AF', 56, 7680)
(177897, None, None, '2022-04-04', 'Asia', 'JHU CSSE Global Timeseries', 0, None, 'AFG', 'Afghanistan', 'AF', 70, 7671)
(177520, None, None, '2022-03-27', 'Asia', 'JHU CSSE Global Timeseries', 5, None, 'AFG', 'Afghanistan', 'AF', 199, 7662)
(177191, None, None, '2022-03-21', 'Asia', 'JHU CSSE Global Timeseries', 0, None, 'AFG', 'Afghanistan', 'AF', 98, 7654)
(170604, None, None, '2022-02-13', 'Asia', 'JHU CSSE Global Timeseries', 6, None, 'AFG', 'Afghanistan', 'AF', 452, 7494)
(160692, None, None, '2022-01-26', 'Asia', 'JHU CSSE Global Timeseries', 4, None, 'AFG', 'Afghanistan', 'AF', 440, 7401)
(158717, None, None, '2022-01-16', 'Asia', 'JHU CSSE Global Timeseries', 1, None, 'AFG', 'Afghanistan', 'AF', 39, 7379)
(158309, None, None, '2022-01-08', 'Asia', 'JHU CSSE Global Timeseries', 1, None, 'AFG', 'Afghanistan', 'AF', 9, 7369)
(175525, None, None, '2022-03-09', 'Asia', 'JHU CSSE Global Timeseries', 6, None, 'AFG', 'Afghanistan', 'AF', 172, 7636)
(174214, None, None, '2022-03-03', 'Asia', 'JHU CSSE Global Timeseries', 2, None, 'AFG', 'Afghanistan', 'AF', 141, 7619)
(172901, None, None, '2022-02-23', 'Asia', 'JHU CSSE Global Timeseries', 5, None, 'AFG', 'Afghanistan', 'AF', 185, 7574)
(177932, None, None, '2022-04-05', 'Asia', 'JHU CSSE Global Timeseries', 0, None, 'AFG', 'Afghanistan', 'AF', 35, 7671)
(177093, None, None, '2022-03-20', 'Asia', 'JHU CSSE Global Timeseries', 2, None, 'AFG', 'Afghanistan', 'AF', 54, 7654)
(170152, None, None, '2022-02-12', 'Asia', 'JHU CSSE Global Timeseries', 10, None, 'AFG', 'Afghanistan', 'AF', 212, 7488)
(158394, None, None, '2022-01-10', 'Asia', 'JHU CSSE Global Timeseries', 0, None, 'AFG', 'Afghanistan', 'AF', 13, 7373)
(175353, None, None, '2022-03-08', 'Asia', 'JHU CSSE Global Timeseries', 4, None, 'AFG', 'Afghanistan', 'AF', 353, 7630)
(177039, None, None, '2022-03-19', 'Asia', 'JHU CSSE Global Timeseries', 1, None, 'AFG', 'Afghanistan', 'AF', 56, 7652)
(178457, None, None, '2022-04-18', 'Asia', 'JHU CSSE Global Timeseries', 1, None, 'AFG', 'Afghanistan', 'AF', 39, 7679)
(158205, None, None, '2022-01-04', 'Asia', 'JHU CSSE Global Timeseries', 1, None, 'AFG', 'Afghanistan', 'AF', 22, 7365)

In [17]:
excecute_query(engine_alchemy,"SELECT count( *) FROM covid.covid",
               print_rows=True)

(2952310,)